.not-found-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.not-found-image {
  height: 400px;
  width: 400px;
}
.page-not-found-heading {
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 20px;
}
.page-not-found-text {
  color: #7e858e;
}
